[Unit]
Description=Create OpenPOWER dump folders to store packaged dumps
Before=xyz.openbmc_project.Dump.Manager.service

[Service]
ExecStart=/bin/mkdir -p {HOSTBOOT_DUMP_PATH}
ExecStart=/bin/mkdir -p {HARDWARE_DUMP_PATH}
Type=oneshot

[Install]
WantedBy=multi-user.target
